@using UserManagement.Models
@model LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="Username">
        <div class="form-text"></div>
    </div>
    <div class="mb-3">
        <label asp-for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

